In [2]:
import dice_ml
from tensorflow.python.keras.saving.save import load_model
from DataLoader_ey import data_loader
import tensorflow as tf

In [3]:
data = data_loader('Data/german.csv')
data.head()

,balance_,duration_,history_,purpose_,amount_,savings_,employment_,available_income_,other_debtors_,residence_,assets_,age_,other_loans_,housing_,previous_loans_,job_,people_liable_,telephone_,label
0,no account,6,paid back previous loans at this bank,furniture,1169.0,above 1000 EUR,more than 7 years,less than 20%,none,more than 7 years,real estate,67,no additional loans,own,2 or 3,skilled,0 to 2,yes,0
1,no balance,48,paid back all previous loans,furniture,5951.0,no savings account at this bank,between 1 and 4 years,between 25 and 35%,none,between 1 and 4 years,real estate,22,no additional loans,own,1,skilled,0 to 2,none,1
2,above 200 EUR,12,paid back previous loans at this bank,repair,2096.0,no savings account at this bank,between 4 and 7 years,between 25 and 35%,none,between 4 and 7 years,real estate,49,no additional loans,own,1,unskilled (permanent resident),3 and more,none,0
3,no account,42,paid back all previous loans,used car,7882.0,no savings account at this bank,between 4 and 7 years,between 25 and 35%,guarantor,more than 7 years,life insurance,45,no additional loans,for free,1,skilled,3 and more,none,0
4,no account,24,no problems with current loans,other,4870.0,no savings account at this bank,between 1 and 4 years,between 20 and 25%,none,more than 7 years,none,53,no additional loans,for free,2 or 3,skilled,3 and more,none,1

In [4]:
backend = 'TF2'
model = load_model('smote_ey.tf')
d = dice_ml.Data(dataframe=data, continuous_features=['duration_', 'amount_', 'age_'], outcome_name='label')

WARNING:tensorflow:SavedModel saved prior to TF 2.5 detected when loading Keras model. Please ensure that you are saving the model with model.save() or tf.keras.models.save_model(), *NOT* tf.saved_model.save(). To confirm, there should be a file named "keras_metadata.pb" in the SavedModel directory.
Metal device set to: Apple M1

systemMemory: 8.00 GB
maxCacheSize: 2.67 GB

2022-01-11 12:57:18.340042: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2022-01-11 12:57:18.340428: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

In [5]:
d.normalize_data(d.one_hot_encode_data(data))

,duration_,amount_,age_,label,balance__above 200 EUR,balance__below 200 EUR,balance__no account,balance__no balance,history__delay payment of previous loans,history__no problems with current loans,...,previous_loans__2 or 3,previous_loans__4 or more,job__executive or self-employed,job__skilled,job__unskilled (non-resident),job__unskilled (permanent resident),people_liable__0 to 2,people_liable__3 and more,telephone__none,telephone__yes
0,0.029412,0.079619,0.857143,0,0,0,1,0,0,0,...,1,0,0,1,0,0,1,0,0,1
1,0.647059,0.493914,0.053571,1,0,0,0,1,0,0,...,0,0,0,1,0,0,1,0,1,0
2,0.117647,0.159931,0.535714,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
3,0.558824,0.661209,0.464286,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,1,1,0
4,0.294118,0.400260,0.607143,1,0,0,1,0,0,1,...,1,0,0,1,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.117647,0.128742,0.214286,0,1,0,0,0,0,0,...,0,0,0,0,0,1,1,0,1,0
996,0.382353,0.312497,0.375000,0,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,1
997,0.117647,0.047997,0.339286,0,1,0,0,0,0,0,...,0,0,0,1,0,0,1,0,1,0
998,0.602941,0.138185,0.071429,1,0,0,1,0,0,0,...,0,0,0,1,0,0,1,0,0,1
999,0.602941,0.374789,0.142857,0,0,0,0,1,0,0,...,0,0,0,1,0,0,1,0,1,0

65 Columns is right for `smote_ey.tf`

In [6]:
m = dice_ml.Model(model=model, backend=backend)
exp = dice_ml.Dice(d, m)

In [7]:
query_instance = data.iloc[1, :].to_dict()
query_instance

{'balance_': 'no balance',
 'duration_': 48,
 'history_': 'paid back all previous loans',
 'purpose_': 'furniture',
 'amount_': 5951.0,
 'savings_': 'no savings account at this bank',
 'employment_': 'between 1 and 4 years',
 'available_income_': 'between 25 and 35%',
 'other_debtors_': 'none',
 'residence_': 'between 1 and 4 years',
 'assets_': 'real estate',
 'age_': 22,
 'other_loans_': 'no additional loans',
 'housing_': 'own',
 'previous_loans_': '1',
 'job_': 'skilled',
 'people_liable_': '0 to 2',
 'telephone_': 'none',
 'label': 1}

In [8]:
dice_exp = exp.generate_counterfactuals(query_instance, total_CFs=5, desired_class='opposite', posthoc_sparsity_algorithm='binary')

Diverse Counterfactuals found! total time taken: 01 min 15 sec

Will take more than one minute per instance (≈1.25 minutes)

In [9]:
dice_exp.visualize_as_dataframe(show_only_changes=True)

Query instance (original outcome : 1)

,balance_,duration_,history_,purpose_,amount_,savings_,employment_,available_income_,other_debtors_,residence_,assets_,age_,other_loans_,housing_,previous_loans_,job_,people_liable_,telephone_,label
0,no balance,48.0,paid back all previous loans,furniture,5951.0,no savings account at this bank,between 1 and 4 years,between 25 and 35%,none,between 1 and 4 years,real estate,22.0,no additional loans,own,1,skilled,0 to 2,none,0.671

Diverse Counterfactual set (new outcome: 0.0)

,balance_,duration_,history_,purpose_,amount_,savings_,employment_,available_income_,other_debtors_,residence_,assets_,age_,other_loans_,housing_,previous_loans_,job_,people_liable_,telephone_,label
0,-,26.0,-,-,2893.7,between 500 and 1000 EUR,-,-,-,-,-,-,-,-,-,-,-,-,0
1,-,-,paid back previous loans at this bank,new car,6963.3,-,-,-,-,-,-,-,-,-,-,-,-,yes,0
2,above 200 EUR,55.0,-,-,5706.9,-,-,-,guarantor,-,-,-,-,-,-,unskilled (non-resident),-,-,0
3,-,-,-,-,-,above 1000 EUR,between 4 and 7 years,-,-,less than 1 year,-,-,-,for free,-,-,-,-,0
4,above 200 EUR,-,-,-,-,-,-,-,-,-,-,50.0,-,-,-,-,3 and more,-,0

In [10]:
dice_exp.visualize_as_list(display_sparse_df=False, show_only_changes=True)

Query instance (original outcome : 1)
['no balance', 48.0, 'paid back all previous loans', 'furniture', 5951.0, 'no savings account at this bank', 'between 1 and 4 years', 'between 25 and 35%', 'none', 'between 1 and 4 years', 'real estate', 22.0, 'no additional loans', 'own', '1', 'skilled', '0 to 2', 'none', 0.6710000038146973]

Diverse Counterfactual set without sparsity correction (new outcome:  0.0
['-', 26.0, '-', '-', 2893.7, 'between 500 and 1000 EUR', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', 0.185]
['-', '-', 'paid back previous loans at this bank', 'new car', 6963.3, '-', '-', '-', '-', '-', '-', 19.0, '-', '-', '-', '-', '-', 'yes', 0.167]
['above 200 EUR', 55.0, '-', '-', 5706.9, '-', '-', '-', 'guarantor', '-', '-', 21.0, '-', '-', '-', 'unskilled (non-resident)', '-', '-', 0.155]
['-', '-', '-', '-', 5960.7, 'above 1000 EUR', 'between 4  and 7 years', '-', '-', 'less than 1 year', '-', '-', '-', 'for free', '-', '-', '-', '-', 0.166]
['above 200 EUR', 50.0, '-', '-', 5863.1, '-', '-', '-', '-', '-', '-', 50.0, '-', '-', '-', '-', '3 and more', '-', 0.184]

In [15]:
import json
json.loads(dice_exp.to_json())['cfs_list']

[[['no balance',
   26.0,
   'paid back all previous loans',
   'furniture',
   2893.7,
   'between 500 and 1000 EUR',
   'between 1 and 4 years',
   'between 25 and 35%',
   'none',
   'between 1 and 4 years',
   'real estate',
   22.0,
   'no additional loans',
   'own',
   '1',
   'skilled',
   '0 to 2',
   'none',
   0],
  ['no balance',
   48.0,
   'paid back previous loans at this bank',
   'new car',
   6963.3,
   'no savings account at this bank',
   'between 1 and 4 years',
   'between 25 and 35%',
   'none',
   'between 1 and 4 years',
   'real estate',
   22.0,
   'no additional loans',
   'own',
   '1',
   'skilled',
   '0 to 2',
   'yes',
   0],
  ['above 200 EUR',
   55.0,
   'paid back all previous loans',
   'furniture',
   5706.9,
   'no savings account at this bank',
   'between 1 and 4 years',
   'between 25 and 35%',
   'guarantor',
   'between 1 and 4 years',
   'real estate',
   22.0,
   'no additional loans',
   'own',
   '1',
   'unskilled (non-resident)',
   '0 to 2',
   'none',
   0],
  ['no balance',
   48.0,
   'paid back all previous loans',
   'furniture',
   5951.0,
   'above 1000 EUR',
   'between 4  and 7 years',
   'between 25 and 35%',
   'none',
   'less than 1 year',
   'real estate',
   22.0,
   'no additional loans',
   'for free',
   '1',
   'skilled',
   '0 to 2',
   'none',
   0],
  ['above 200 EUR',
   48.0,
   'paid back all previous loans',
   'furniture',
   5951.0,
   'no savings account at this bank',
   'between 1 and 4 years',
   'between 25 and 35%',
   'none',
   'between 1 and 4 years',
   'real estate',
   50.0,
   'no additional loans',
   'own',
   '1',
   'skilled',
   '3 and more',
   'none',
   0]]]